<head>
    <title>{{ title }}</title>
</head>

<body>
    <div>
        <a href="/">Ir a Inicio</a>
    </div>

    <h1>
       Modify {{ student.name }}
    </h1>
    <img src="{{ student.photo }}" width="200px">
  
     
   <form action="/student/{{ student._id }}/modify" method="POST" enctype="multipart/form-data">
    <label for="email">
      <p>Name: </p>
      <input type="text" name="name" value="{{ student.name }}">
    </label>
     
     
         <label>
            <span>lastName</span>
             <input name="lastName" type="text" value="{{student.lastName}}">
        </label>
        <label>
            <span>Mail</span>
            <input name="mail" type="text" value="{{ student.mail }}">
        </label>
        <label>
            <span>Age</span>
            <input name="age" type="text" value="{{ student.age }}">
        </label>

 

    <input type="submit" value="Login now!">
       <a href="/student/show">Cancel</a>
   
  </form>
      
     

</body>

</html>