    <h2>User: {{ professor.name }} {{ professor.lastName }} <a href="/login/logout">Log out</a></h2>
        
    <table>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Lastname</th>
            <th>Course</th>
            <th>Mail</th>
            <th>Age</th>
            <th>faltas</th>
           
        </tr>
   
        <tr>
            <td><img src="{{ student.photo }}" width="100px"></td>
            <td>{{ student.name }}</td>
            <td>{{ student.lastName }}</td>
            <td>{{#each student.courses }}
                <ul>
                  <li>{{ name }}</li>
                </ul>
                {{/each}}
            </td>
            <td>{{ student.mail }}</td>
            <td>{{ student.age }}</td>
            <td>{{#each student.faltas }}
                <ul>
                  <li>{{ this }}</li>
                </ul>
                {{/each}}
            </td>
            <td><a href="/utils/{{this._id}}/mail"><img src="/images/email-button.png" width="15">Send mail</a></td>
        </tr>
  
    </table>
 